@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #914f1e;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1520px;
}
.flex-center {
  @apply flex items-center justify-center;
}

.nav-height {
  @apply h-[100vh];
}

.btn {
  @apply px-5 py-2 lg:px-32 lg:py-5 lg:rounded-full lg:text-2xl rounded-3xl bg-green my-5 hover:bg-transparent border border-transparent hover:border hover:text-green hover:border-green;
}

.common-padding {
  @apply sm:py-32 py-20 sm:px-10 px-5;
}

.section-heading {
  @apply lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20;
}

.link {
  @apply text-blue hover:underline cursor-pointer flex items-center text-xl opacity-0 translate-y-20;
}

.hero-title {
  @apply text-center font-semibold text-4xl text-gray-100 opacity-0 max-md:mb-10;
}
